body {
  background-color: #ffffff;
  color: #434455;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.header_logo {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
}
.header_logo_span{
  color: #2e2f42;
}
.sample_head-first{
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.nav_link{
  color:#2e2f42;
  font-weight:500;
}
.nav_link:hover{
  color: #404bbf;
}
.nav_link:focus{
  color: #404bbf;
}
.nav_adress{
  font-style: normal;
}
.sample_class-name {
  background-color: #2e2f42;
}
.sample_class-button {
  background-color: #4d5ae5;
  font-family:"Roboto",sans-serif;
  font-weight:500;
  font-size:16px;
  line-height:1.5;
  letter-spacing:0.04em;
  color:#FFFFFF;
  cursor:pointer;
}
.sample_class-button:hover,
.sample_class-button:focus {
  background-color:#404bbf;
}
